<!DOCTYPE html>
<html lang="en">

<head>
    <title> Register Form </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
            text-align:center;
        }
    </style>
</head>

<body>
    <form action='/registerSuccess' method="post" enctype="multipart/form-data">
        <div class="container" style="margin:auto; padding:50px;">
            <p>Enter The Details</p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" name="name" placeholder="Enter name" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" placeholder="Enter Password" required>
                    </div>
                    <div class="form-group">
                        <label>Verify Password</label>
                        <input class="form-control" type="password" name="repeatedPassword" placeholder="Re-Enter Password" required>
                    </div>
                </div>

                <div class="col-lg-6">

                    <div class="form-group">
                        <label>Enter Phone Number</label>
                        <input class="form-control" type="text" name="number" placeholder="Enter Phone Number">
                    </div>

                    <div class="form-group">
                        <label>Enter Email</label>
                        <input class="form-control" type="text" name="email" placeholder="Enter Email Address">
                    </div>
                    <div class="form-group">
                        <label>Access level</label>
                        <select class="form-control" name="cat">
                            <option value = "0">Editor</option>
                            <option value = "1">Admin</option>
                        </select>
                    </div>
                </div>
            </div>
            <p id="buttons"style="margin:auto; text-align:center;">
                <button type="submit" name="submit" class="btn btn-success">Submit</button>
            </p>
        </div>
    </form>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        $('#repw').on('input', function() {

        });
    </script>

    <!-- /.container-fluid -->
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>