<!DOCTYPE html>
<html lang="en">

<head>
  <title> Register Form </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <style>
  p{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-align:center;
  }
  </style>
</head>

<body>
  <form action="/resetSuccess"  onsubmit="return false" method="post" encrypt="multipart/form-data">
    <div class="container" style="margin:auto; padding:50px;">
      <h2>Reset Password</h2>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Enter new password</label>
            <input class="form-control" id="pass_input" type="password" name="password" placeholder="Enter Password" required>
          </div>
          <div class="form-group">
            <label>Re-enter new password</label>
            <input class="form-control" id="repass_input" type="password" name="repeatedPassword" placeholder="Re-Enter Password" required>
          </div>
          <div class="form-group">
            <label>Enter OTP</label>
            <input class="form-control" id="otp" type="text" name="otp" placeholder="OTP" required>
          </div>
          <p id="buttons"style="margin:auto; text-align:center;">
            <button type="button" name="submit" id="sub_btn"  class="btn btn-success">Submit</button>
          </p>
        </div>
      </div>
    </div>
  </form>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">


  </script>
  <script type="text/javascript">
      let param_array = window.location.href;
      //console.log(param_array);
      let passInput;
      let repassInput;
      let otpInput;
      let subBtn;
      $(document).ready(function(){
        passInput = $("#pass_input");
        repassInput = $("#repass_input");
        otpInput = $("otp");
        subBtn = $("#sub_btn");
        subBtn.click(function(){
          let pass = passInput.val();
          let repass = repassInput.val();
          let otp = otpInput.val();
          //console.log("length="+len + "\n" + param_array);
          sendPassChangeRequest(pass,repass,otp,param_array);


        });
      });
      function sendPassChangeRequest(pass,repass,otp,url_recvd){
        let len=pass.length;
        let url = url_recvd.split("/");
        console.log(url[4]);
        if(len>=8){
          if(pass==repass){
            $.ajax({
              type:'POST',
              data:{
                password:pass,
                otp:otp,
                _id:url[4]
              },
              url:'http://192.168.101.7/resetSuccess',
                  success:function(data){
                console.log(data);
              }
            });
          }else{
            alert("Password Do not match");
          }

        }else{
          alert("Password length should be minimum of 8 characters");
        }
      }

</script>

<!-- /.container-fluid -->
<!-- Bootstrap Core JavaScript -->


</body>
</html>
