<!DOCTYPE html>
<html lang="en">

<head>
  <title> Register Form </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <style>
  p{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-align:center;
  }
  </style>
</head>

<body>
  <form action=""  onsubmit="return false" method="post" encrypt="multipart/form-data">
    <div class="container" style="margin:auto; padding:50px;">
      <h2>Reset Password</h2>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Enter new password</label>
            <input class="form-control" id="pass_input" type="password" name="password" placeholder="Enter Password" required>
          </div>
          <div class="form-group">
            <label>Re-enter new password</label>
            <input class="form-control" id="repass_input" type="password" name="repeatedPassword" placeholder="Re-Enter Password" required>
          </div>
          <p id="buttons"style="margin:auto; text-align:center;">
            <button type="button" name="submit" id="sub_btn"  class="btn btn-success">Submit</button>
          </p>
        </div>
      </div>
    </div>
  </form>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">


  </script>
  <script type="text/javascript">
  // $('#repeatedPassword').on('input', function() {
  //
  // });
  // window.params = function(){
  //   var params = {};
  //   var param_array = window.location.href.split('?')[1].split('&');
  //   for(var i in param_array){
  //     x = param_array[i].split('=');
  //     params[x[0]] = x[1];
  //   }
  //   return params;
  // }();
  // console.log(window.params.name);
  var passInput;
  var repassInput;
  var subBtn;
  $(document).ready(function(){
    passInput=$("#pass_input");
    repassInput=$("#repass_input");
    subBtn=$("#sub_btn");
    subBtn.click(function(){
      var pass=passInput.val();
      var repass=passInput.val();
      var len=pass.length;
      console.log("length="+len);
      sendPassChangeRequest(pass,repass);


    });
  });
  function sendPassChangeRequest(pass,repass){
    var len=pass.length;
    if(len>=8){
      if(pass===repass){
        $.ajax({
          type:'POST',
          data:{
            pwd:pass,
            repwd:repass
          },
          url:'https://jsonplaceholder.typicode.com/todos/1',
          success:function(data){
            console.log(data);
          }
        });
      }else{
        alert("Password Do not match");
      }

    }else{
      alert("Password length should be minimum of 8 characters");
    }
  }

</script>

<!-- /.container-fluid -->
<!-- Bootstrap Core JavaScript -->


</body>
</html>
